html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  color: #666;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.loader_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #008744;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

.logo_container___24wBE+div {
    background: darkcyan;
    padding: 0.3em 0.6em;
    color: white;
}

.list___393qT {
    overflow-y: auto;
    min-height: 40em;
}

.list_header___3BaTf {
	border: 1px solid grey;
    padding: 0 .6em;
    color: white;
}

div.lists_wrapper___16cjE div .list___393qT .list_header___3BaTf,
.list_header___3BaTf.todo {
    background: darkorange;
}

div.lists_wrapper___16cjE div+div .list___393qT .list_header___3BaTf,
.list_header___3BaTf.doing {
    background: blue;
}

div.lists_wrapper___16cjE div+div+div .list___393qT .list_header___3BaTf,
.list_header___3BaTf.done {
    background: #239a23;
}

div.lists_wrapper___16cjE div+div+div+div .list___393qT .list_header___3BaTf,
.list_header___3BaTf.done {
    background: darkred;
}


.list_header___3BaTf div+div {
    font-size: .6em;
    text-decoration: overline;
}

.list_cards_section___Q1gEt {
    background: #dfe7e9;
    padding: .6em;
    border: 1px solid maroon;
}

.container___1k4Sx {
    background: grey;
}
